<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="d-flex justify-content-between">
                    <h2 class="text-center"> TCG Admin Login</h2>
                    <a href="{{url_for(('home_page'))}}">Home Page</a>
                </div>
                <form action="" method="post">
                    {%set feedback=get_flashed_messages(with_categories=True)%}
                    {%for cat,message in feedback %}
                        {%if cat=='msg'%}
                            <div class="alert alert-success">
                                <p>{{message}}</p>

                            </div>
                            {%elif cat=='adminmsg' %}
                            <div class="alert alert-danger">
                                <p>{{message}}</p>
                            </div>   
                        {%endif%}
                    {%endfor%}
                    {{adminloginform.csrf_token}}
                    <div class="mb-3">
                        {{adminloginform.username.label}}
                        {{adminloginform.username(class_='form-control border-dark')}}
                    </div>
                    <div class="mb-3">
                        {{adminloginform.password.label}}
                        {{adminloginform.password(class_='form-control border-dark')}}
                    </div>
                    <div>
                        {{adminloginform.submit(class_='btn btn-warning col-12')}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>