<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TCG - Contact</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static', filename='assets/img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static', filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">


  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">



  <link href="{{url_for('static', filename='assets/css/main.css')}}" rel="stylesheet">



</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{{url_for('home_page')}}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>TCG<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{{url_for('home_page')}}" class="active">Home</a></li>
          <li><a href="{{url_for('about')}}">About</a></li>
          <!-- <li><a href="services.html">Services</a></li> -->
          <li class="dropdown">
            <a href="{{ url_for('services') }}">
              <span>Services</span>
              <i class="bi bi-chevron-down dropdown-indicator"></i>
            </a>
            <ul>
              {% for cat in categories %}
                {% if cat.subcategories %}
                  <li class="dropdown">
                    <a href="javascript:void(0)">
                      <span>{{ cat.name }}</span>
                      <i class="bi bi-chevron-down dropdown-indicator"></i>
                    </a>
                    <ul>
                      {% for sub in cat.subcategories %}
                        <li>
                          <a href="{{ url_for('home_page') }}?category={{ cat.id }}&subcategory={{ sub.id }}#quoteForm">
                            {{ sub.name }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li>
                    <a href="{{ url_for('home_page') }}?category={{ cat.id }}#quoteForm">
                      {{ cat.name }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>




          <li><a href="{{url_for('projects')}}">Projects</a></li>

       
          <li><a href="{{url_for('contact')}}">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{{url_for('static', filename='assets/img/breadcrumbs-bg.jpg')}}');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Contact Us</h2>
        <ol>
          <li><a href="{{url_for('home_page')}}">Home</a></li>
          <li>Contact</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-lg-6">
            <div class="info-item  d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-map"></i>
              <h3>Our Address</h3>
              <p>102b Shasha Road Abati Bus-stop, Shasha, Akowonjo, Lagos</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3 col-md-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-envelope"></i>
              <h3>Email Us</h3>
              <p>michealerinola9@gmail.com</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3 col-md-6">
            <div class="info-item  d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-telephone"></i>
              <h3>Call Us</h3>
              <p>+234 7039853440</p>
            </div>
          </div><!-- End Info Item -->

        </div>

        <div class="row gy-4 mt-1">

          <div class="col-lg-6 ">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.469540194333!2d3.304790275283605!3d6.58841009340524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b91c822138137%3A0x7b7da9407e1bcebb!2s102%20Shasha%20Rd%2C%20Egbeda%2C%20Ikeja%20102213%2C%20Lagos!5e0!3m2!1sen!2sng!4v1765289419456!5m2!1sen!2sng"
            frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div><!-- End Google Maps -->

          <!-- <div class="col-lg-6 ">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
              frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>End Google Maps -->

          <div class="col-lg-6">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show text-center" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
            <form method="POST" action="{{ url_for('contact') }}" novalidate>
              {{ contact.csrf_token }}
          
              <div class="mb-3">
                  {{ contact.name.label }}
                  {{ contact.name(class="form-control") }}
              </div>
          
              <div class="mb-3">
                  {{ contact.email.label }}
                  {{ contact.email(class="form-control") }}
              </div>
          
              <div class="mb-3">
                  {{ contact.phone.label }}
                  {{ contact.phone(class="form-control") }}
              </div>
          
              <div class="mb-3">
                  {{ contact.message.label }}
                  {{ contact.message(class="form-control") }}
              </div>
          
              <label>{{ contact.contact_method.label }}</label><br>
              {% for subfield in contact.contact_method %}
                  <div class="form-check form-check-inline">
                      {{ subfield(class="form-check-input") }}
                      {{ subfield.label(class="form-check-label") }}
                  </div>
              {% endfor %}
          
              <div class="mt-3">
                  {{contact.submit(class='btn btn-warning')}}
              </div>
          </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
{%include "users/footer.html"%}
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->

  <script src="{{url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/purecounter/purecounter_vanilla.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/php-email-form/validate.js')}}"></script>




  <!-- Template Main JS File -->
  <script src="{{url_for('static', filename='assets/js/main.js')}}"></script>


</body>

</html>